

.button_not_selected rect {
  fill: #d9dfe0;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_not_selected.button_hovered rect {
  fill: #e9eff0;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_selected rect {
  fill: #a0a0a7;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_selected.button_hovered rect {
  fill: #b0b0a7;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_not_selected text {
  fill: #111;
  font-size: 16px;
  cursor: pointer;
}

.button_selected text {
  fill: #111;
  font-size: 16px;
  cursor: pointer;
}

.button_all_none rect{
  fill: #d9dfe0;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_all_none_selected rect{
  fill: #b0b0a7;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_all_none_hovered rect{
  fill: #e9eff0;
  stroke: #707080;
  stroke-width: 2px;
  cursor: pointer;
}

.button_all_none_text{
  fill: #111;
  font-size: 16px;
  cursor: pointer;
}
