#genreBar_container {
  width: 800px;
  height: 400px;
}

.axis {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.genre_tip {
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  color: #111;
}

.genre_tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.genre_tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
