/* CSS for the left sliding menu and its button */

#menu_button{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--swiss-white);
  border: 4px solid rgb(0, 0, 0);
  background-image: url("../modules/Menu/menu.svg");
  background-size: contain;
  outline: none;
}

#menu_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: var(--swiss-black);
  transform: translate3d(-100%,0,0);
  transition: 0.25s ease-in-out;
  padding-top: 80px;
}

.menu_item{
  font-family: "IBMPlex Sans";
  font-weight: bold;
  color: var(--swiss-white);
  background-color: rgba(0, 0, 0, 0);
  font-size: 2em;
  width: 264px;
  padding-top: 8px;
  padding-bottom: 10px;
  display:grid;
  clear: left;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}

.menu_item:hover{
  color: var(--swiss-black);
  background-color: var(--swiss-white);
}

.menu_item a{
  color: inherit;
  text-decoration: none;
}
