/* CSS for the page in general (headings, typography, fonts, etc...) */

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* Color Palette For the whole project */

:root {
  --swiss-black: #000000;
  --swiss-white: #fff;
  --swiss-dark-grey: #3c3c3c;
  --swiss-light-grey: #dfe0e2;
  --swiss-red: #f54123;
  --swiss-blue: #0098d8;
  --swiss-blue-dark: #08327d;
  --swiss-yellow: #e6c700;
  --swiss-green: #007500;
  --swiss-purlple: #923394;
}

/* Fonts */

@font-face {
  font-family: "IBMPlex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IBMPlex Sans";
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

html {
  font-family: "IBMPlex Sans";
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--swiss-black);
}

#main_container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--swiss-white);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -1;
}

#scrolling_container {
  padding: 0;
  margin: 0;
}

/* Hipster Paper Grain Overlay to give magazin effect */

#main_container:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: url(../img/noise_small.jpg);
  background-repeat: repeat;
  opacity: 0.12;
  pointer-events: none;
}

/* Typography */

h1 {
  font-family: "IBMPlex Sans";
  font-weight: bold;
  background-color: var(--swiss-black);
  color: var(--swiss-white);
  padding-bottom: 4px;
  padding-top: 4px;
  margin-right: 20px;
  width: auto;
  display: inline-block;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 2.8em;
}

h2 {
  font-family: "IBMPlex Sans";
  font-weight: bold;
  border-bottom: 3px solid;
  font-size: 1.8em;
  margin-left: 12px;
  margin-right: 12px;
  color: var(--swiss-dark-grey);
  padding-bottom: 0.6em;
  margin-bottom: 1em;
}

p {
  font-family: "IBMPlex Sans";
  font-weight: normal;
  text-align: justify;
  font-size: 1.4em;
  margin-left: 12px;
  margin-right: 12px;
  color: var(--swiss-dark-grey);
}

#consoleReleaseYears_container {
  margin-right: 20px;
}

.full_width {
  width: 100%;
}

a {
  text-decoration: underline;
  color: var(--swiss-blue-dark);
  transition: all 0.15s;
}

a:hover {
  color: var(--swiss-black);
}

#console_sales_region_selector {
  margin: 10px;
}

.interactive_text_chart {
  font-family: "IBMPlex Sans";
  font-weight: bold;
  background-color: var(--swiss-light-grey);
  color: var(--swiss-black) !important;
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 3px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
}

.interactive_text_chart:hover {
  border: 3px solid var(--swiss-light-grey);
  background-color: var(--swiss-white);
  color: var(--swiss-black) !important;
}

.interactive_text_chart:active {
  background-color: var(--swiss-black);
  color: var(--swiss-white) !important;
  border: 3px solid rgba(0, 0, 0, 0);
}

.row_padded{
  margin-right: 50px;
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  .row_padded{
    margin-right: 10px;
    margin-left: 10px;
  }
}

#viz_container {
  display: flex;
  flex-direction: column;
}

  #genreBar_and_buttons {
    display: flex;
    flex-direction: row;
  }
    #genreBarButtons_container {
      width: 230px;
    }

    #genreBar_container {
      width: calc(100% - 230px);
      height: 200px;
    }

  #scatterPlot_and_consoles {
    display: flex;
    flex-direction: row;
  }

  #scatterPlot_container {
    width: calc(100% - 300px);
  }

  #consoleBar_container {
    width: 300px;
    display: flex;
    flex-direction: row;
  }

    #individual_brands_barChart_container{
      display: flex;
      flex-direction: column;
    }

    .brandBarChart{
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .brand_bar{
      margin-top: 5px;
    }

/* First welcome page centering container */

#centered_div {
  color: var(--swiss-white);
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  transition: all 0.5s;
}

.welcome_item{
  font-family: "IBMPlex Sans";
  font-weight: bold;
  color: var(--swiss-white);
  background-color: rgba(0, 0, 0, 0);
  font-size: 2em;
  padding-top: 8px;
  padding-bottom: 10px;
  display:grid;
  clear: left;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}

.welcome_item:hover{
  color: var(--swiss-black);
  background-color: var(--swiss-white);
}

#expanding_circle{
  background-color: var(--swiss-white);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  transform: scale(0);
  transition: transform 1s ease-in;
  opacity: 0;
  border-radius: 100%;
  z-index: -1;
}
