#scatterPlot_container {
  /*width: 932px;*/
  height: 600px;
  position: relative;
}

.axis {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 10px;
  font: 14px sans-serif;
  background: #999;
  border: 0px;
  border-radius: 10px;
  pointer-events: none;
}

.publishers_button {
  display: flex;
  width: 200px;
  height: 46px;
  background: #d9dfe0;
  border: solid;
  border-color: #707080;
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.publishers_button_hovered {
  display: flex;
  width: 200px;
  height: 46px;
  background: #e9eff0;
  border: solid;
  border-color: #707080;
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.publishers_button_pressed {
  display: flex;
  width: 200px;
  height: 46px;
  background: #b0b0a7;
  border: solid;
  border-color: #707080;
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.margin_center {
  margin: auto;
}
